@use "../variables";

.content {
  width: variables.$content-width;
  margin: 0 auto;

  @media (max-width: #{variables.$content-width + variables.$content-padding * 2}) {
    width: 100%;
    padding: 0 #{variables.$content-padding};
  }
}
