@use "../variables";
@use "../utilities/screenSize";

.flex-with-gutter {
  display: flex;

  & > *:not(:last-child) {
    margin-right: variables.$gutter-size;

    @include screenSize.mobile {
      margin-right: 0;
      margin-bottom: variables.$gutter-size;
    }
  }
}
