$content-width: 800px;
$content-padding: 20px;

$green: #2ECC71;
$on-green: black;
$green-darker: #2ab662;

$blue: #39a8f3;
$on-blue: black;
$blue-darker: #3695d8;

$discord: #7289DA;
$on-discord: white;
$discord-darker: #6a7fca;
