@import "variables";
@import "mobile";

:root {
  --navbar-height: 100px;

  @include mobile {
    --navbar-height: 80px;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  background: black;

  z-index: 0;

  margin: 0;
  padding: 0;

  font-size: 16px;
  font-family: "Open Sans", sans-serif;

  color: white;
}

html, body, #__nuxt, #__layout, .fill-screen {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.centered-container {
  width: $content-width;
  margin: 0 auto;

  @media (max-width: #{$content-width + $content-padding * 2}) {
    width: 100%;
    padding: 0 #{$content-padding};
  }
}

.icon {
  fill: currentColor;
}
