$lightGrey: #717171;
$darkGrey: #212121;
$darkGreen: #109910;
$lightGreen: #16fe0a;
body {
  font-family: 'Roboto', sans-serif;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  color: white;
}

.navbar {
  background-color: $darkGrey;
  position: fixed;
  height: 60px;
  width: 100%;

  ul {
    margin-left: -45px;
    list-style: none;
  }
}

li {
  //     float: left;
  //     color: $darkGreen;
  //     text-align: center;
  //     text-decoration: none;
  //     font-size: 19px;
  //     width: 16%;
  a {
    float: left;
    color: $darkGreen;
    text-align: center;
    text-decoration: none;
    width: 16.66%;
    font-size: 17px;
    height: 60px;
    margin-top: -16.5px;
    p {
      margin-top: 20px;
    }
    &:hover {
      background-color: $darkGreen;
      color: #fff;
      text-decoration: underline;
    }
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: $darkGreen;
  border: 0px none #ffffff;
  border-radius: 17px;
  &:hover {
    background: $lightGreen;
  }
  &:active {
    background: $darkGreen;
  }
}

::-webkit-scrollbar-track {
  background: #000000;
  border: 0px solid #ffffff;
  border-radius: 27px;
  &:hover {
    background: #000000;
  }
  &:active {
    background: $lightGreen;
  }
}

::-webkit-scrollbar-corner {
  background: transparent;
}