$lightGrey: #717171;
$darkGrey: #212121;
$darkGreen: #109910;

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: $lightGrey;
  background-image: url(../assets/world_map_binary_green.png);
  background-size: 100%;
}

.navbar {
  background-color: $darkGrey;
  position: fixed;
  height: 60px;
  width: 100%;

  a {
    float: left;
    color: $darkGreen;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    width: 12.61%;
    font-size: 17px;
    border-right: 1px solid #000;
  }

  a:hover {
    background-color: $darkGreen;
    color: #fff;
    text-decoration: underline;
  }
}

img {
  float: left;
  display: block;
  max-height: 55px;
  padding: 3px 62.5px;
  width: 150px;
}

.wallpaper {
  width: 100%;
  height: 889px;
  position: fixed;
  margin-top: 500px;
}