body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../assets/code_wall.png);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar {
    background-color: #212121;
    position: fixed;
    height: 60px;
    width: 100%;
}

.navbar a {
    float: left;
    color: #109910;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    width: 12.605%;
    font-size: 17px;
}


img {
    float: left;
    display: block;
    max-height: 55px;
    padding: 3px 62.5px;
    width: 150px;
}

.navbar a:hover {
    background-color: #109910;
    color: #fff;
    text-decoration: underline;
}

a {
    color: #fff;
}

a:hover {
    color: #109910;
}

@media screen and (min-width: 768px) {}

.dark {
    margin: auto;
    background-color: #2d2b2b;
    border-radius: 10px;
    max-width: 700px;
    padding: 5pt;
    text-color: #fff;
}

.inside {
    background-color: #2d2b2ba4;
    border-radius: 10px;
    max-width: 700px;
    margin: auto;
    margin-top: 25px;
    color: #fff
}

.inside p {
    font-size: 27px;
    max-width: 85%;
}

.inside h2 {
    font-size: 28px;
    color: #109110;
}

#first_box {
    font-size: 35px;
    color: #109910;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #109910;
    border: 0px none #ffffff;
    border-radius: 17px;
}

::-webkit-scrollbar-thumb:hover {
    background: #16fe0a;
}

::-webkit-scrollbar-thumb:active {
    background: #477140;
}

::-webkit-scrollbar-track {
    background: #000000;
    border: 0px solid #ffffff;
    border-radius: 27px;
}

::-webkit-scrollbar-track:hover {
    background: #000000;
}

::-webkit-scrollbar-track:active {
    background: #38ff22;
}

::-webkit-scrollbar-corner {
    background: transparent;
}